@model BulkyBook.Models.ViewModels.ProductVM


<form method = "post" asp-action = "Product">
    <div class = "border p-3 mt-4">
        <div class = "row pb-2">
            <h2 class = "text-primary">
                Create Product
            </h2>
            <hr />
        </div>
        @*<div asp-validation-summary = "All"></div> *@
        <div class = "mb-3">
            <label asp-for = "product.Title"></label>
            <input asp-for = "product.Title" class = "form-control" />
            <span asp-validation-for = "product.Title" class = "text-light"></span>
        </div>
        <div class = "mb-3">
            <label asp-for = "product.ISBN"></label>
            <input asp-for = "product.ISBN" class = "form-control" />
            <span asp-validation-for = "product.ISBN" class = "text-light"></span>
        </div>
        <div class = "mb-3">
            <label asp-for = "product.Author"></label>
            <input asp-for = "product.Author" class = "form-control" />
            <span asp-validation-for = "product.Author" class = "text-light"></span>
        </div>
        <div class = "mb-3">
            <label asp-for = "product.Description"></label>
            <textarea asp-for = "product.Description" rows = "3" class = "form-control"></textarea>
            <span asp-validation-for = "product.Description" class = "text-light"></span>
        </div>
        <div class = "mb-3">
            <label asp-for = "product.ListPrice"></label>
            <input asp-for = "product.ListPrice" class = "form-control" />
            <span asp-validation-for = "product.ListPrice" class = "text-light"></span>
        </div> 
        <div class = "mb-3">
            <label asp-for = "product.FinalPrice"></label>
            <input asp-for = "product.FinalPrice" class = "form-control" />
            <span asp-validation-for = "product.FinalPrice" class = "text-light"></span>
        </div>
        <div class = "mb-3">
            <label asp-for = "product.FinalPrice50"></label>
            <input asp-for = "product.FinalPrice50" class = "form-control" />
            <span asp-validation-for = "product.FinalPrice50" class = "text-light"></span>
        </div>
        <div class = "mb-3">
            <label asp-for = "product.FinalPrice100"></label>
            <input asp-for = "product.FinalPrice100" class = "form-control" />
            <span asp-validation-for = "product.FinalPrice100" class = "text-light"></span>
        </div> 
        <div class = "mb-3">
            <label asp-for = "product.FinalPrice100"></label>
            <input asp-for = "product.FinalPrice100" class = "form-control" />
            <span asp-validation-for = "product.FinalPrice100" class = "text-light"></span>
        </div>
        <div class = "mb-3">
            <label asp-for = "product.CategoryID"></label>
            <select asp-for = "product.CategoryID" asp-items = "@Model.CategoryList" class = "form-select">
                <option disabled selected>--Select Category--</option>
            </select>
            <span asp-validation-for="product.CategoryID" class = "text-danger"></span>
        </div>
        <div class = "mb-3">
            <label asp-for = "product.CoverTypeID"></label>
            <select asp-for = "product.CoverTypeID" asp-items = "@Model.CoverTypeList" class = "form-select">
                <option disabled selected>--Select CoverType--</option>
            </select>
            <span asp-validation-for="product.CoverTypeID" class = "text-danger"></span>
        </div>

        <button type = "submit" class = "btn btn-primary" style = "width : 150px">Edit</button>
        <a asp-controller = "Product" asp-action = "Index" class = "btn btn-secondary" style = "width:150px">
            Back To List
        </a>
    </div> 
</form>

@section Scripts{
    @{
    <partial name = "_ValidationScriptsPartial" />
    }
}  

